@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@900&display=swap');

body{
    color: var(--main-color);
    font-family:var(--main-font);
    font-weight: 600;
    background-color:#002960;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh; /* Faz com que o body ocupe a altura total da tela */
    display: flex; /* Habilita o Flexbox */
    flex-direction: column; /* Coloca header, main, etc. em coluna */
    margin: 0; /* Remove margens padrão */
    overflow: hidden;
    position: relative;

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        repeating-linear-gradient(
            45deg,
            rgba(255,255,255,0.03) 0px,
            rgba(255,255,255,0.00) 60px
        );
    background-size: 300% 300%;
    animation: lightMove 25s linear infinite;
    pointer-events: none;
}

@keyframes lightMove {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}


:root{
    --main-color: #002960;
    --main-font: "League Spartan", sans-serif;;
}


.logo{
    height: auto;
    margin: 2% 0;
    width: 95%;
}

.logo img{
    width: 110px;
    height: 75px;
}

/* Estilos para a div que contém o formulário */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.forms {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2 10px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
  width: 50%; 
  max-width: 90%;
  text-align: center;
}

/* Estilos para o título */
h1 {
  color: var(--main-color);
  margin-bottom: 25px;
}

/* Estilos para o formulário */
.box {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  gap: 15px; /* Espaço entre os elementos do formulário */
}

/* Estilos para os parágrafos (labels) */
p {
  font-weight: 600;
  color: #555;
  margin: 0;
  text-align: left;
}

/* Estilos para os campos de input */
input[type="text"],
input[type="password"] {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não adicione largura extra */
  box-shadow: 0 1px 8px #1111; /* Sombra suave para profundidade */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Estilos para o botão de envio */
button {
  padding: 12px;
  background-color: #002960;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 6px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave na cor */
  width: 50%;
  margin: 5% 25%;
}

/* Efeito ao passar o mouse sobre o botão */
button:hover {
  background-color: #0056b3;
}

/* INDEX CSS */
#head{
    height: 15vh;
    position: relative;
}

main{
    width: 100%;
}
#section{
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-orders{
    display: flex; /* Transforma o contêiner em um Flex container */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 20px; /* Adiciona um pequeno espaço entre os itens */
    width: 90%;
    margin-bottom: 10%;

}

.search-orders input{
    box-shadow: 0 0 5px #4d4d4d;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    width: 70%;
    height: 65%;
}

.search{
    width: 35px;
}
.search img{
    width: 35px;
}

.showing-orders{
    width: 90%;
    position: relative;
}

.title{
    width: 90%;
    margin-top: 6%;
}

/* INSIGHT CSS */
.yield{
    display: flex;
    margin-top: 6%;
    width: 90%;
}

.current-yield{
    margin-right: 8%;
}

.yield-month{
    display: flex;
    height: 40%;
    margin-top: 2%;
}
.yield-month h3{
    font-size: 13px;
    margin: 10% 0 0 0;
}
.yield-month .select-month{
    box-shadow: 0 0 2px #303030;
    border: none;
    border-radius: 2px;
    font-family: var(--main-font);
    height: 20px;
    margin: 8% 0 0 5%;
}

.current-yield p{
    color: #01a5a5c2;
    font-size: 22px;
}
.graphic-container, .debts{
    width: 90%;
}

.debts{
    width: 90%;
    position: relative;
}

.debt{
    border-radius: 10px;
    box-shadow: 0 0 5px #4d4d4d;
    display: grid;
    grid-template-columns: 55% 45%;
    font-size: 14px;
    padding: 10px ;
    margin-bottom: 20px;
}
.debt p{
    margin: 10px 0 0 0;
    font-family: var(--second-font);
}
.debt button{
    background-color: #004aad;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px #4d4d4d;
    color: #fff;
    font-weight: bold;
    height: 30px;
    margin-top: 8%;
    width: 100px;
}

/* NAVIGATION CSS */
#navigation{
    position: fixed; /* ESSA É A PROPRIEDADE MÁGICA! */
    bottom: 0;       /* Posiciona na parte inferior da viewport */
    left: 0;         /* Alinha à borda esquerda */
    width: 100%;     /* Garante que ocupe a largura total */
    background: #fff;
    z-index: 1000;   /* Garante que fique acima de outros conteúdos ao rolar */
    padding: 10px 0; /* Adiciona um preenchimento vertical para melhor aparência */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra sutil na parte superior para destacar */
}

nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
}
nav li{
    list-style: none;
    margin-right: 15%;
}

/* ESTILIZAÇÃO DO BOTÃO 'ADD' NA BARRA DE NAVEGAÇÃO */
.add {
  display: flex;
  align-items: center;   
  justify-content: center; 
  width: 60px; 
  height: 60px; 
  background-color: #002960; 
  border: none;
  border-radius: 50%; 
  padding: 0;
}

/* FORMS DE CADASTRO E ATUALIZAÇÃO CSS */
.add-box, .update-box{
    display: none; /*ATIVADO APENAS AO CLICAR NO BOTÃO ADD*/
    background-color: #002960;
    box-shadow: 0 0 5px #4d4d4d;
    border-radius: 10px;    
    color: #fff;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 10vh;
    width: 35vh;
}
.add-container, .update-container{
    display: flex;
    margin: 10% 0 10% 10%;
    height: 24px;
}
.add-container h1, .update-container h1{
    margin: 0 40% 0 0;
    font-size: 15px;
}
.add-box form, .update-box form{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
}

.add-box input, .paid, .update-box input{
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px #303030;
    height: 28px;
    padding: 4px;
    margin: 12px 0;
}

.add-box button, .update-box button{
    box-shadow: 0 0 10px #303030;
    border-radius: 5px;
    border: none;
    background-color: #004aad;
    color: #fff;
    font-family: var(--main-font);
    height: 35px;
    width: 35%;
    margin: 5% 0 5% 30%;
}

.warning{
    display: none;
    font-size: 13px;
    margin-left: 20%;
    color: red;

}

.order-content{
    border-radius: 10px;
    box-shadow: 0 0 5px #4d4d4d;
    display: grid;
    grid-template-columns: 55% 45%;
    font-size: 14px;
    padding: 10px ;
    margin-bottom: 20px;
    position: relative;
}
.order{
    margin: 5%;
}
.order p{
    margin: 15px 0 0 0;
    font-family: var(--second-font);
}
.order button{
    background-color: #004aad;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px #4d4d4d;
    color: #fff;
    font-weight: bold;
    height: 30px;
    margin-top: 5%;
    width: 100px;
}
.manipulating-order{
    display: flex;
    width: 27%;
    height: 16%;
    position: absolute;
    right: 0;
    top: 8%;
}
.update-btn, .remove-btn{
    background: none;
    border: none;
}

.update-btn img, .remove-btn img{
    width: 100%;
    height: 100%;
}
.see-more-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #303030;
    width: 80%;
    position: absolute;
    top: 10%;
    padding: 5%;
}

.see-more-container p{
    margin: 4% 0 0 10%;
    width: 80%;
}

.see-more-container .close-btn, .update-box .close-btn{
    color: red;
    margin-left: 90%;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.update-box .close-btn{
    margin: 0;
}


